body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root > div {
  display: flex;
  height: 100vh;
}

.left {
  flex: 0 0 60%;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
}

.left > #search {
  width: 80%;
  margin:24px auto;
  box-shadow: rgba(255, 5, 5, 0.32) 0px 1px 4px;
  font-family: FontAwesome;
  font-size: 2.6em;
}

.left > .gif {
  max-height: 80%;
  max-width: 80%;
  margin: auto;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.right {
  flex: 0 0 40%;
  background-color: #eff0f1;
  overflow: scroll;
}

.right > .gif-list {
  column-count: 2;
  column-gap: 5px;
  padding: 5px;
}

.right > .gif-list > .gif {
  max-width: 100%;
  margin: 5px;
  cursor: pointer;
}
